body{
   background-color: #FFA07A;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 150px;
}

#face{
    width: 370px;
    height: 300px;
    border-radius: 46%;
    margin-left: 46px;
    background-color: white;  
}
#pandinha :hover{
 transform: scale(0.8) ;
 transition: 2ms
}

.olhos{
    width: 70px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    display: inline-block ;
    margin-top: 60px;

}
#olho-rigth{
    float: right;
    transform: rotate(-45deg);
    margin-right: 40px;
}
#olho-left{
    transform: rotate(45deg);
    margin-left: 40px;
}
.pupila{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}
#pupila-l{
   margin-top: 20px;
   margin-left: 30px;
}
#pupila-r{
    margin-top: 25px;
    margin-left: 25px;
}
#nariz{
    width: 28px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin-left: 46%;
}
.blush{
    width: 45px;
    height: 25px;
    
    border-radius: 50%;
    background-color: #FFA07A;

    display: inline-block;
}
#blush-r{
   float: right;
   margin-right: 20px;
}
#blush-l{
    margin-left: 20px;
}
.boca{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    margin-top: -10px;
    border-top-color: transparent;
}
#boca-l{
    margin-left: 74px;
    border-right-color: transparent;
    transform: rotate(-55deg);
}
#boca-r{
    border-left-color: transparent;
    transform: rotate(55deg);
}